* {
  box-sizing: border-box;
} 

html {
  margin:0;
  padding:0;
}

body {
  margin:0;
  padding:0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
}

.container {
  max-width:1170px;
  width:100%;
  margin:0 auto;
  padding: 0 15px;
}

.top {
  padding:150px 0 100px 0;
  background-image:url("../images/top-pic02.jpg");
  background-size:cover;
  text-align:center;
  width:100%;
  height:600px;
  background-repeat: no-repeat;
   
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  /* background-attachment: fixed; */
  background-position:center bottom; 

}

.top-name {
  padding:15px 0px 30px 0px;
}

.top-h1 {
letter-spacing: 3px;
margin:0px;
font-size:60px;
font-weight:900;
color:#fff;
text-shadow: 0px 0px 2px #000, 2px 2px 3px #000;
}

.top-h2 {
  margin:0px;
  padding:0px;
  text-align:center;
  font-weight:800;
  color:#3B240B;
  font-weight:bold;
  color:#fff;
text-shadow: 0px 0px 2px #000, 2px 2px 3px #000;
  letter-spacing: 2px;
  font-size:30px;
}

header {
  width: 100%;
  height:60px;
  position:fixed;
  top:0px;
  z-index:10;
  background-color:#3B240B;
}



header li {
  padding:0px 20px;
  font-size:20px;
  font-weight:bold;
}

header a {
  color:white;
}

ul,li {
  list-style: none;
}

a {
  text-decoration:none;
}

.nav-ul {
  display:flex;
  justify-content:center;
  padding:0px 20px;
}

.section-title {
  font-size:40px;
  font-weight:900;
  padding-top:0px;
  margin:0px;
  border-bottom:solid 5px #FF8000; 
  display:inline-block;
  line-height:1.2;
  }

.btn-wrapper {
  margin:40px 0px 30px 0px;
}


.btn {
  padding:10px 30px;
  color:#3B240B;
  font-weight:bold;
  display:inline-block;
  border-radius:5px;
  cursor:pointer;
}

.nav-li:hover{
  color:#FAAC58;
}

.profile:hover{
  background-color:#FAAC58;
}

.profile {
  background-color:#FF8000;
}


.icon-img {
  border-radius:50%;
  width:30%;
  height:50%;
  padding:30px;
  display:inline-block; 
}

.about-image {
  display:block;
  text-align:center;
}

.about-text {
  width:40%;
  display:inline-block; 
  text-align: left;
  font-size:18px;
  line-height: 1.5;
  padding:30px;
}

.about {
  background-color:#F2F2F2;
  height:100%;
  padding: 100px 0;
}

.heading-about {
  padding-top:30px;
  padding-bottom:5px;
  text-align:center;
}

.heading-skills {
  padding-top:30px;
  padding-bottom:10px;
  text-align:center;
}

.heading-contact {
  padding-top:30px;
  padding-bottom:10px;
  text-align:center;
}

.skills {
  background-color:#A9D0F5;
  padding: 100px 0;
  width:100%; 
}

.fa-html5 {
 font-size:8em;
 text-align:center;
 display:inline-block;
}

.fa-css3-alt {
  font-size:8em;
  display:inline-block;
  text-align:center;
 }

 .fa-js-square {
   font-size:8em;
   display:inline-block;
   text-align:center;
 }

 .fa-comment {
   font-size:8em;
   display:inline-block;
   text-align:center;
 }

.skills-title {
  font-size:20px;
  font-weight:bold;
  text-align:center;
  margin:0;
}

.skills-wrapper {
  justify-content: space-between;
  margin: 20px 0px;
}

.skills-text {
  text-align:justify;
  margin-top:20px;
  line-height: 1.5;
  font-size:18px;
  width: 80%;
  display: inline-block; 
}

.skills-icon {
  text-align: center;
  width:25%;
  line-height: 1.5;
  float: left;
display:block;
}

.contact {
  padding: 100px 0;
  background-color:#D8D8D8;
}
.contact-text {
text-align: center;
font-weight:bold;
font-size:18px;
margin:20px 50px;
line-height: 2.0;
}

.heading-text {
  margin:5px 0px;
  font-weight:normal;
  font-size:18px;
}

.btn-circle-flat {
  display: inline-block;
  text-decoration: none;
  background: #3B240B;
  color: #FFF;
  width: 100px;
  height: 100px;
  line-height: 115px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
  margin:0px 30px;
}

.btn-circle-flat:hover {
  background: #FF8000;
}

/* .fa-envelope {
  font-size:2.5em;
 } */

.fa-twitter {
  font-size:2.5em;
}

.fa-facebook-f {
  font-size:2.5em;
}

.contact-icons {
  display: flex;
  justify-content: center;
  margin:40px 0px;
  padding:0px;
}

footer {
  background-color:#222222;
  padding:20px 20px;
  text-align:center;
}

footer p {
  color :#ffffff;
}

.clear {
  clear:left;
}

.about-text-top {
  border-top:dotted 2px #FF8000;
  padding-top: 20px;
}

.about-text-under {
  border-bottom:dotted 3px #FF8000;
  padding-bottom: 20px;
}
