.dice-icon img {
  width:150px;
}

ul, li {
  list-style: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding:0 15px;
}

.game-title h1 {
  text-align:center;
  margin-bottom: 30px;
}

.dice-wrapper {
  display: block;
  width: 40%;
  float:left; 
  height:600px;
  margin-top: 10px;
  margin-left:50px;
}

.detame {
  text-align:center;
} 

.dice-icon {
  text-align:center;
}

.btn-wrapper {
  text-align:center;
}

.btn-wrapper ul {
  padding:10px;
}

.button {
	width: 150px;
	padding: 0.8em;
  text-align: center;
  font-weight:bold;
	color: #000;
	background: #A9BCF5
}
/* * {
  box-sizing: border-box;
} */

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}


.button:hover {
  opacity:0.8;
  cursor: pointer;
}

.box-wrapper {
  display: block;
  float: right;
  text-align: center;
  height: auto;
  width: 40%;
  margin-right:10px;
  margin-top: 50px;
  /* padding-right: 50px; */
}

.box {
  display: inline-block;
    width: 30%;
   margin-bottom:10px;
    padding: 40px 50px;
    background-color: #BDBDBD;
    text-align: center;
    font-size: 20px;
    color: white;
    position: relative;
}

#count-dice, #left-goal {
  text-align: center;
  line-height: 0.5;
}

.fas{
  color: green;
  font-size: 70px;
  z-index: 10;
  position: absolute;
  top: 18%;
  left: 30%;
}

#count-dice, #left-goal {
  text-align: center;
  line-height: 0.5;
}
